<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 1、扫描db.properties -->
	<context:property-placeholder location="classpath:db.properties"/>
	
	<!-- 2、配置数据源 -->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="username" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="driverClassName" value="${jdbc.driver}"/>
	</bean>
	
	<!-- 3、配置mybatis的SqlSessionFactoryBean操作数据库 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 引用数据源 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 扫描mybatis配置文件 -->
		<property name="configLocation" value="classpath:mybatisContext.xml"></property>
		<property name="mapperLocations" value="classpath:com/newlife/fitness/rearend/dao/mapper/*.xml"></property>
        <property name="typeAliasesPackage" value="com.newlife.fitness.entity"/>
	</bean>
	
	<!-- 4、使用MapperScannerrConfigurer 将mapper实现类加入ioc-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<!-- 扫描dao层 -->
		<property name="basePackage" value="com.newlife.fitness.rearend.dao"/>
	</bean>
</beans>
