<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlife.fitness.frontend.dao.FUserDAO">

  <!-- 基本的Map映射  前端用户表 -->
  <resultMap id="BaseResultMap" type="FUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="f_userName" jdbcType="VARCHAR" property="fUsername" />
    <result column="f_loginName" jdbcType="VARCHAR" property="fLoginname" />
    <result column="f_password" jdbcType="VARCHAR" property="fPassword" />
    <result column="f_sex" jdbcType="CHAR" property="fSex" />
    <result column="f_age" jdbcType="INTEGER" property="fAge" />
    <result column="f_address" jdbcType="VARCHAR" property="fAddress" />
    <result column="f_email" jdbcType="VARCHAR" property="fEmail" />
    <result column="f_phone" jdbcType="CHAR" property="fPhone" />
    <result column="f_isVip" jdbcType="CHAR" property="fIsvip" />
    <result column="f_imgUrl" jdbcType="VARCHAR" property="fImgurl" />
    <result column="f_vipBegiTtime" jdbcType="TIMESTAMP" property="fVipbegittime" />
    <result column="f_vipEndTime" jdbcType="TIMESTAMP" property="fVipendtime" />
  </resultMap>
  
  
</mapper>